.customers{
    &-statistics{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding: 32px 50px;
        border-radius: 30px;

        &-card{
            display: flex;
            gap: 20px;
            align-items: center;
            

            h2{
                border-radius: 50%;
                width: 84px;
                height: 84px;
                background: linear-gradient(201.18deg, #D3FFE7 3.14%, #EFFFF6 86.04%);
                text-align: center;
                i{
                    font-size: 40px;
                    margin-top: 20px;
                    color: #00AC4F;
                }
            }

            &--body{
                p:first-child{
                    font-size: 14px;
                    color: #ACACAC;
                    margin-bottom: 4px;
                }

                h4{
                    font-size: 34px;
                    color: #333333;
                    font-weight: 600;

                }

                .arrows{
                    display: flex;
               
                    gap: 7px;


                    i{
                        font-size: 25px;
                        color: #00AC4F;
                    }

                    span{
                        color: #00AC4F;
                        font-size: 12px;
                        font-weight: 700;
                    }

                    p{
                        font-size: 12px;
                    }
                }

                .arrows-red{
                    i{
                        color: red !important;
                    }

                    span{
                        color: red !important;
                    }
                }

            }
        }
    }
}